
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dukmyo3cc/image/upload/v1677255411/e2cb74zxivola5qlmmgg.jpg);">
  <div class="container">
    <h1>My favorite movies lists!!</h1>
    <%= link_to "Add a new list", new_list_path, class: "btn btn-flat" %>
  </div>
</div>
  <div class="cards">
    <% @lists.each do |list| %>
     <div class="card-category">
      <%= link_to list.name, list_path(list), class: "btn btn-flat" %>
      </div>
      <% end  %>
       <%= link_to "delete list", lists_path(@lists)  %>
  </div>
